	p {
			color: green;
	}
	article {
			color:purple;
			text-align: center; 
			font-style: italic;
		}
	body {
			background-image:url('BG.jpg');
			background-repeat: no-repeat;
			background-size: cover;
			font-family: Arial;
		}
a:hover, a:active
        {
             background-color: orange;
	    }
header
{
	text-align: center;
	text-decoration: underline;
}
